.col1 {
    height: min-content;
    width: 40%;
    font-weight: normal;
    
}
.col2 {
    height: min-content;
    width: 40%;
    font-weight: normal;
}
.col3 {
    height: min-content;
    width: 20%;
    
}
.icon-edit {
    opacity: 0,1;
}
.icon-edit:hover {
    opacity: 1;
}
.white {
    background-color: white;
}
.yellow {
    background-color: yellow;
}
.slds-button_brand {
    background-color: royalblue;
}
.slds-button_brand:hover {
    background-color: salmon;
}